@import 'vars';
// 1. Pages

main.pages {
  height: 100%;
  width: 100%;

  h2, hr {
    display: inline-block;
  }

  hr {
    width: 100%;
  }

  /* 1.1 Header */

  #home {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;

    .content {
      left: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100%;
      z-index: -999998;
      position: absolute;
      text-align: center;
      top: 30%;
    }

    .nav-menu {
      width: 100%;
      height: 12vh;
      text-align: center;
      margin: 0 auto;
      bottom: 0;
      left: 0;

      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $background-color-default;

      &.sticky {
        position: fixed;
        top: 0;
      }

      &__item {
        padding: 0 0.5vw;
        font-size: 16px;
        font-size: 1vw;

        &__counter {
          color: $text-color-active;

          &--active {
            color: $text-color-default;
          }
        }

        &__link {
          color: $text-color-default;

          &:hover {
            color: $text-color-active;
          }

          &--active {
            color: $text-color-active;

            &:hover {
              color: $text-color-default;
            }
          }
        }

      }
    }
  }

  #about {
    .page__content {
      display: flex;
      justify-content: space-between;

      &__text {
        margin-left: 1em;
      }

      &__image {
        margin-right: 1em;

        .image_overlap {
          position: absolute;
          background-color: $image-overlap-color;
          height: 400px;
          width: 320px;
          margin-left: 10px;
          margin-top: 10px;
          opacity: 1;
        }

        &:hover .image_overlap {
          opacity: 0;
          transition: opacity 0.5s ease 0s;
          transition-delay: 0.1s;
        }

        &::after {
          border: $color2 solid 1px;
          display: block;
          content: "";
          position: relative;
          height: 400px;
          width: 320px;
          bottom: 398px;
          left: 7px;
          z-index: -1;
        }
      }
    }
  }

  #skills {
    .page__content {
      display: flex;
      //justify-content: space-between;
      justify-content: flex-end;
      flex-flow: row-reverse;

      &__text {
        font-size: 16px;
        font-size: 1vw;

        ul {
          margin-top: 0;
          list-style: none;

          li {
            padding: 0.5rem 0;
          }

          li::before {
            //content: "~ | ";
          }
        }
      }

      &__image {
        margin-left: 1em;

        .image_overlap {
          position: absolute;
          background-color: $image-overlap-color;
          height: 400px;
          width: 350px;
          margin-left: 8px;
          margin-top: 10px;
          opacity: 1;
        }

        img {
          background-color: #fff;
        }

        &:hover .image_overlap {
          opacity: 0;
          transition: opacity 0.5s ease 0s;
          transition-delay: 0.1s;
        }

        &::after {
          border: $color2 solid 1px;
          display: block;
          content: "";
          position: relative;
          height: 400px;
          width: 350px;
          bottom: 398px;
          left: 8px;
          z-index: -1;
        }
      }
    }
  }

  #experience {
    .page__content {
      ol {
        li {
          margin-bottom: 50px;
        }
      }

      .item {
        &__separator {
          width: 100%;
          text-align: left;

          hr {
            border-color: $text-color-active;
            width: 10%;

            &.left {
              margin-right: 10px;
            }

            &.right {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  #contact {
    .page__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__text {
        font-size: 16px;
        font-size: 1vw;
      }
    }
  }

  .page {
    width: 100%;
    min-height: 100%;

    margin: 0 auto;

    &__head {
      min-height: 12vh;
    }

    &__title {
      h2 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $color1;
        line-height: 0.1em;
        margin: 10px 0 20px;

        & > span {
          background: $background-color-default;
          padding: 0 10px;
        }
      }
    }

    &__content {
      left: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
      //height: 100vh;
      width: 100%;
    }
  }

  #contact {
    &.page {
      min-height: calc(100vh - 46px);
    }
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  /* 1.3 Footer */

  .bottom {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      .footer-menu {
        &__item {
          display: inline-block;
          width: 40px;
          height: 40px;
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }

          .link-icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            fill: $text-color-default;

            &:hover {
              fill: $text-color-active;
            }

            &__wrapp {
              display: block;
              overflow: visible;
              padding: 0 0 100%;
              position: relative;
              height: 0;
              width: 100%;
            }

            &__wrap > * {
              position: relative;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }

    &__right {

    }
  }

}

/* Breakpoints */

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 400px) {
}
