@import 'vars';
@import 'typography';

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  font-size: 1vw;
  height: 100%;
}

body {
  height: 100%;
  background: $background-color-default;
  color: $text-color-default;
}

a {
  background: transparent;
  color: $text-color-default;
}

ul.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;
  }
}

.font2 {
  font-family: 'Exo', sans-serif;
}
