@import 'vars';

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  //unicode-range: U+000-5FF; /* Latin glyphs */
}


@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  //unicode-range: U+000-5FF; /* Latin glyphs */
}
