// Color
$color1: #61892f;
$color2: #86c232;
$color3: #222629;
$color4: #474b4f;
$color5: #6b6e70;
$color6: #f7f9fb;
$color7: #e6f1ff;

$background-color-default: $color3;
$text-color-default: $color7;
$text-color-active: $color2;
$image-overlap-color: rgba(97, 137, 47, 0.5);

// Typography
$font-name: 'Alegreya Sans';
$font2-name: 'Exo';
