@import 'vars';

html {
  font-family: sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  font-size: 1vw;
}

body {
  color: #e6f1ff;
}

html, body {
  background: #222629;
  height: 100%;
  margin: 0;
  padding: 0
}

ul.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list-inline li {
  display: inline;
}

main.pages {
  height: 100%;
  width: 100%;

  h2, hr {
    display: inline-block;
  }

  #home {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;

    .content {
      left: 0;
      overflow: hidden;
      padding: 0;
      margin: 0 auto;
      width: 100%;
      z-index: -999998;
      position: absolute;
      text-align: center;
      top: 30%;
    }

    .nav-menu {
      width: 100%;
      height: 12vh;
      text-align: center;
      margin: 0 auto;
      bottom: 0;
      left: 0;

      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $background-color-default;

      &.sticky {
        position: fixed;
        top: 0;
      }

      &__item {
        padding: 0 0.5vw;
        font-size: 16px;
        font-size: 1vw;

        &__counter {
          color: $text-color-active;

          &--active {
            color: $text-color-default;
          }
        }

        &__link {
          color: $text-color-default;

          &:hover {
            color: $text-color-active;
          }

          &--active {
            color: $text-color-active;

            &:hover {
              color: $text-color-default;
            }
          }
        }

      }
    }
  }

  footer {
    position: absolute;
    bottom: 1px;
    width: 100vw;

    .bottom {
      margin-left: 1rem;
      margin-right: 1rem;
      height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__left {
        .footer-menu {
          &__item {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;

            &:last-of-type {
              margin-right: 0;
            }

            .link-icon {
              display: inline-block;
              width: 40px;
              height: 40px;
              fill: $text-color-default;

              &:hover {
                fill: $text-color-active;
              }

              &__wrapp {
                display: block;
                overflow: visible;
                padding: 0 0 100%;
                position: relative;
                height: 0;
                width: 100%;
              }

              &__wrap > * {
                position: relative;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
