<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="canonical"
    href="https://ovolkov.page/" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description"
    content="<%= htmlWebpackPlugin.options.appDescription %>">
  <meta name="author"
    content="Oleksii Volkov">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Google Tag Manager -->
  <% if (typeof(htmlWebpackPlugin.options.gtmId) !== "undefined") { %>
    <script strict-dynamic
            nonce="<%= htmlWebpackPlugin.options.nonce %>">
    var policy = { 'createScriptURL': function(url) { return url } };
    if (window.trustedTypes && window.trustedTypes.createPolicy) {
      policy = window.trustedTypes.createPolicy('gtm', {
        'createScriptURL': function(url) {
          var parsed = new URL(url, document.baseURI);
          if (parsed.origin === 'https://www.googletagmanager.com') {
            return url;
          }

          throw new TypeError('invalid URL');
        },
      });
    }
    !function(e, t, a, n, g) {
    e[n] = e[n] || [], e[n].push({ 'gtm.start': (new Date).getTime(), event: 'gtm.js' });
    var m = t.getElementsByTagName(a)[0], s = t.createElement(a);
    s.async = !0,
    s.nonce = '<%= htmlWebpackPlugin.options.nonce %>',
    s.src = policy.createScriptURL('https://www.googletagmanager.com/gtm.js?id=<%= htmlWebpackPlugin.options.gtmId %>'),
    m.parentNode.insertBefore(s, m);
  }(window, document, 'script', 'dataLayer');</script>
  <!-- End Google Tag Manager -->
  <% } %>
</head>
<body id="top">
<!-- Google Tag Manager (noscript) -->
<noscript>
  <% if (typeof(htmlWebpackPlugin.options.gtmId) !== "undefined") { %>
  <iframe src="https://www.googletagmanager.com/ns.html?id=<%= htmlWebpackPlugin.options.gtmId %>"
    height="0"
    width="0"
    style="display:none;visibility:hidden"></iframe>
  <% } %>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<main class="pages">

  <!-- home\ -->
  <section id="home">
    <div class="content">
      <span>Hi, my name is</span>
      <h1>Oleksii Volkov</h1>
      <h2>I am software engineer</h2>
    </div>
  </section>
  <!-- /home -->

  <!-- footer\ -->
  <footer>
    <div class="bottom">
      <nav class="bottom__left footer-menu">
        <ul class="list-inline">
          <li class="footer-menu__item">
            <a target="_blank"
              rel="noopener"
              href="https://github.com/o-volkov"
              class="link-icon"
              title="My Gitlab page">
              <div class="link-icon__wrap">
                <svg
                  class="link-icon__image"
                  xmlns="http://www.w3.org/2000/svg"
                  version="1.1"
                  width="40"
                  height="40">
                  <g transform="matrix(0.0912105,0,0,0.0912105,0,-0.48934433)">
                    <path d="M 409.132,114.573 C 389.524,80.977 362.927,54.379 329.334,34.773 295.736,15.166 259.057,5.365 219.271,5.365 c -39.781,0 -76.472,9.804 -110.063,29.408 -33.596,19.605 -60.192,46.204 -79.8,79.8 C 9.803,148.168 0,184.854 0,224.63 c 0,47.78 13.94,90.745 41.827,128.906 27.884,38.164 63.906,64.572 108.063,79.227 5.14,0.954 8.945,0.283 11.419,-1.996 2.475,-2.282 3.711,-5.14 3.711,-8.562 0,-0.571 -0.049,-5.708 -0.144,-15.417 -0.098,-9.709 -0.144,-18.179 -0.144,-25.406 l -6.567,1.136 c -4.187,0.767 -9.469,1.092 -15.846,1 -6.374,-0.089 -12.991,-0.757 -19.842,-1.999 -6.854,-1.231 -13.229,-4.086 -19.13,-8.559 -5.898,-4.473 -10.085,-10.328 -12.56,-17.556 l -2.855,-6.57 c -1.903,-4.374 -4.899,-9.233 -8.992,-14.559 -4.093,-5.331 -8.232,-8.945 -12.419,-10.848 l -1.999,-1.431 c -1.332,-0.951 -2.568,-2.098 -3.711,-3.429 -1.142,-1.331 -1.997,-2.663 -2.568,-3.997 -0.572,-1.335 -0.098,-2.43 1.427,-3.289 1.525,-0.859 4.281,-1.276 8.28,-1.276 l 5.708,0.853 c 3.807,0.763 8.516,3.042 14.133,6.851 5.614,3.806 10.229,8.754 13.846,14.842 4.38,7.806 9.657,13.754 15.846,17.847 6.184,4.093 12.419,6.136 18.699,6.136 6.28,0 11.704,-0.476 16.274,-1.423 4.565,-0.952 8.848,-2.383 12.847,-4.285 1.713,-12.758 6.377,-22.559 13.988,-29.41 -10.848,-1.14 -20.601,-2.857 -29.264,-5.14 -8.658,-2.286 -17.605,-5.996 -26.835,-11.14 -9.235,-5.137 -16.896,-11.516 -22.985,-19.126 -6.09,-7.614 -11.088,-17.61 -14.987,-29.979 -3.901,-12.374 -5.852,-26.648 -5.852,-42.826 0,-23.035 7.52,-42.637 22.557,-58.817 -7.044,-17.318 -6.379,-36.732 1.997,-58.24 5.52,-1.715 13.706,-0.428 24.554,3.853 10.85,4.283 18.794,7.952 23.84,10.994 5.046,3.041 9.089,5.618 12.135,7.708 17.705,-4.947 35.976,-7.421 54.818,-7.421 18.842,0 37.117,2.474 54.823,7.421 l 10.849,-6.849 c 7.419,-4.57 16.18,-8.758 26.262,-12.565 10.088,-3.805 17.802,-4.853 23.134,-3.138 8.562,21.509 9.325,40.922 2.279,58.24 15.036,16.18 22.559,35.787 22.559,58.817 0,16.178 -1.958,30.497 -5.853,42.966 -3.9,12.471 -8.941,22.457 -15.125,29.979 -6.191,7.521 -13.901,13.85 -23.131,18.986 -9.232,5.14 -18.182,8.85 -26.84,11.136 -8.662,2.286 -18.415,4.004 -29.263,5.146 9.894,8.562 14.842,22.077 14.842,40.539 v 60.237 c 0,3.422 1.19,6.279 3.572,8.562 2.379,2.279 6.136,2.95 11.276,1.995 44.163,-14.653 80.185,-41.062 108.068,-79.226 27.88,-38.161 41.825,-81.126 41.825,-128.906 -0.01,-39.771 -9.818,-76.454 -29.414,-110.049 z"></path>
                  </g>
                </svg>
              </div>
            </a>
          </li>

          <li class="footer-menu__item">
            <a target="_blank"
              rel="noopener"
              href="https://gitlab.com/o-volkov"
              class="link-icon"
              title="My Gitlab page">
              <div class="link-icon__wrap">
                <svg
                  class="link-icon__image"
                  xmlns="http://www.w3.org/2000/svg"
                  version="1.1"
                  width="40"
                  height="40">
                  <g transform="matrix(0.1002625,0,0,0.1002625,-0.05539514,-2.2073802)">
                    <path
                      d="m 398.3211,228.65092 -20.92591,-64.29597 a 9.0859406,9.0859406 0 0 0 -0.50608,-1.7301 L 334.90783,33.397357 a 16.688942,16.688942 0 0 0 -15.9357,-11.380963 16.406478,16.406478 0 0 0 -15.7474,11.47512 L 263.20893,156.63425 H 136.91201 L 96.837361,33.491514 A 16.406478,16.406478 0 0 0 81.160584,22.016394 h -0.09416 A 16.736019,16.736019 0 0 0 65.177801,33.503287 L 23.161212,162.88378 c 0,0.11769 -0.09416,0.21185 -0.129463,0.32954 L 1.7292207,228.66269 a 23.880017,23.880017 0 0 0 8.6740133,26.7282 L 194.45237,389.12605 a 9.4154822,9.4154822 0 0 0 11.12204,-0.0589 L 389.65885,255.39089 a 23.868247,23.868247 0 0 0 8.66225,-26.73997 M 123.21248,175.53583 174.51509,333.43347 51.360581,175.53583 m 174.245269,157.93295 49.1959,-151.37742 2.11847,-6.55553 h 71.91075 L 237.41051,318.27454 M 319.13689,45.613944 355.18642,156.63425 h -72.1579 m -25.92788,18.83096 -35.74353,109.99638 -21.32607,65.50822 -56.9872,-175.5046 M 80.984043,45.613944 117.10418,156.63425 H 44.993361 m -23.515167,83.5271 a 5.072591,5.072591 0 0 1 -1.836018,-5.6846 L 35.460185,185.86933 151.4707,334.59863 m 227.12497,-94.43728 -130.00428,94.40198 0.43547,-0.56493 115.57504,-148.12907 15.81801,48.58388 a 5.072591,5.072591 0 0 1 -1.82424,5.69637"
                      style="stroke-width:1.17693532"></path>
                  </g>
                </svg>
              </div>
            </a>
          </li>

          <li class="footer-menu__item">
            <a target="_blank"
              rel="noopener"
              href="https://facebook.com/ovolk0v"
              class="link-icon"
              title="My Facebook page">
              <svg
                class="link-icon__image"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                width="40"
                height="40">
                <g transform="matrix(0.13418979,0,0,-0.13418979,-0.2164676,40.053078)">
                  <g transform="matrix(0.02910989,0,0,0.02910989,1.6131451,0.39554584)">
                    <path
                      d="m 10240,5120 c 0,2827.7 -2292.3,5120 -5120,5120 C 2292.3,10240 0,7947.7 0,5120 0,2564.46 1872.31,446.301 4320,62.1992 V 3640 H 3020 v 1480 h 1300 v 1128 c 0,1283.2 764.38,1992 1933.9,1992 560.17,0 1146.1,-100 1146.1,-100 V 6880 H 6754.38 C 6118.35,6880 5920,6485.33 5920,6080.43 V 5120 H 7340 L 7113,3640 H 5920 V 62.1992 C 8367.69,446.301 10240,2564.46 10240,5120"
                      style="fill-opacity:1;fill-rule:nonzero;stroke:none"></path>
                    <path
                      d="m 7113,3640 227,1480 H 5920 v 960.43 c 0,404.9 198.35,799.57 834.38,799.57 H 7400 v 1260 c 0,0 -585.93,100 -1146.1,100 C 5084.38,8240 4320,7531.2 4320,6248 V 5120 H 3020 V 3640 H 4320 V 62.1992 C 4580.67,21.3008 4847.84,0 5120,0 c 272.16,0 539.33,21.3008 800,62.1992 V 3640 h 1193"
                      style="fill-opacity:0"></path>
                  </g>
                </g>
              </svg>
            </a>
          </li>

          <li class="footer-menu__item">
            <a target="_blank"
              rel="noopener"
              href="https://linkedin.com/in/o-volkov"
              class="link-icon"
              title="My LinkedIn page">
              <svg
                class="link-icon__image"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                width="40"
                height="40">
                <g transform="matrix(0.11767621,0,0,0.11767799,0.00188448,-0.01983039)">
                  <path
                    d="M 17.818,0.911 C 9.234,3.603 2.294,11.384 0.624,20.19 c -0.848,4.47 -0.856,292.746 -0.008,297.215 1.446,7.629 7.118,14.834 14.343,18.22 l 3.624,1.698 h 150.551 150.551 l 3.624,-1.698 c 7.224,-3.386 12.896,-10.591 14.343,-18.22 0.862,-4.542 0.838,-292.744 -0.024,-297.319 C 336.209,12.554 330.543,5.404 323.309,2.013 L 319.685,0.315 170.079,0.197 C 47.599,0.1 19.991,0.23 17.818,0.911 m 69.837,48.998 c 23.216,11.474 21.12,44.494 -3.353,52.817 C 64.645,109.411 44.127,92.157 47.299,71.611 50.214,52.737 70.885,41.621 87.655,49.909 m 150.226,73.597 c 28.043,3.127 42.868,18.048 47.819,48.129 1.687,10.248 2.15,29.747 1.738,73.247 l -0.401,42.362 h -24.434 -24.435 l -0.205,-48.346 c -0.226,-53.072 -0.197,-52.663 -4.268,-60.642 -9.308,-18.244 -41.145,-15.358 -48.479,4.396 -3.372,9.081 -3.363,8.93 -3.63,58.45 l -0.249,46.142 H 156.81 132.283 v -80 -80 h 23.623 23.622 v 10.709 c 0,11.385 0.414,12.745 2.704,8.87 10.199,-17.267 31.157,-26.048 55.649,-23.317 m -137.724,83.738 v 80 H 75.591 51.024 v -80 -80 h 24.567 24.566 v 80 m 269.157,87.177 c -26.113,8.516 -18.676,47.545 8.687,45.587 23.83,-1.705 29.804,-34.332 8.141,-44.462 -4.204,-1.966 -12.54,-2.523 -16.828,-1.125 m 12.944,3.244 c 13.994,4.156 18.549,22.788 8.12,33.217 -12.612,12.612 -33.863,3.488 -33.836,-14.528 0.019,-13.187 12.848,-22.51 25.716,-18.689 m -14.384,19.185 v 12.599 h 1.89 1.89 v -5.355 -5.354 l 2.047,10e-4 c 1.885,0.001 2.313,0.425 5.405,5.355 3.18,5.071 3.474,5.353 5.579,5.353 2.698,0 2.654,-0.173 -1.692,-6.612 -3.016,-4.47 -3.109,-4.727 -1.713,-4.727 2.572,0 4.862,-3.077 4.862,-6.532 0,-6.009 -2.09,-7.326 -11.623,-7.326 h -6.645 v 12.598 m 13.313,-7.611 c 2.695,3.329 0.421,5.722 -5.439,5.722 h -4.094 v -3.853 -3.853 l 4.178,0.266 c 3.415,0.217 4.394,0.531 5.355,1.718"></path>
                </g>
              </svg>
            </a>
          </li>

          <li class="footer-menu__item">
            <a target="_blank"
               rel="me"
               href="https://mastodon.social/@ovolkov"
               class="link-icon"
               title="My Mastodon page">
              <svg class="link-icon__image"
                   xmlns="http://www.w3.org/2000/svg"
                   width="40"
                   height="40"
                   viewBox="0 0 61 65"
                   fill="none">
                <path d="M60.7539 14.3904C59.8143 7.40642 53.7273 1.90257 46.5117 0.836066C45.2943 0.655854 40.6819 0 29.9973 0H29.9175C19.2299 0 16.937 0.655854 15.7196 0.836066C8.70488 1.87302 2.29885 6.81852 0.744617 13.8852C-0.00294988 17.3654 -0.0827298 21.2237 0.0561464 24.7629C0.254119 29.8384 0.292531 34.905 0.753482 39.9598C1.07215 43.3175 1.62806 46.6484 2.41704 49.9276C3.89445 55.9839 9.87499 61.0239 15.7344 63.0801C22.0077 65.2244 28.7542 65.5804 35.2184 64.1082C35.9295 63.9428 36.6318 63.7508 37.3252 63.5321C38.8971 63.0329 40.738 62.4745 42.0913 61.4937C42.1099 61.4799 42.1251 61.4621 42.1358 61.4417C42.1466 61.4212 42.1526 61.3986 42.1534 61.3755V56.4773C42.153 56.4557 42.1479 56.4345 42.1383 56.4151C42.1287 56.3958 42.1149 56.3788 42.0979 56.3655C42.0809 56.3522 42.0611 56.3429 42.04 56.3382C42.019 56.3335 41.9971 56.3336 41.9761 56.3384C37.8345 57.3276 33.5905 57.8234 29.3324 57.8156C22.0045 57.8156 20.0336 54.3384 19.4693 52.8908C19.0156 51.6397 18.7275 50.3346 18.6124 49.0088C18.6112 48.9866 18.6153 48.9643 18.6243 48.9439C18.6333 48.9236 18.647 48.9056 18.6643 48.8915C18.6816 48.8774 18.7019 48.8675 18.7237 48.8628C18.7455 48.858 18.7681 48.8585 18.7897 48.8641C22.8622 49.8465 27.037 50.3423 31.2265 50.3412C32.234 50.3412 33.2387 50.3412 34.2463 50.3146C38.4598 50.1964 42.9009 49.9808 47.0465 49.1713C47.1499 49.1506 47.2534 49.1329 47.342 49.1063C53.881 47.8507 60.1038 43.9097 60.7362 33.9301C60.7598 33.5372 60.8189 29.8148 60.8189 29.4071C60.8218 28.0215 61.2651 19.5781 60.7539 14.3904Z"
                      fill="#e6f1ff"/>
                <path d="M50.3943 22.237V39.5876H43.5185V22.7481C43.5185 19.2029 42.0411 17.3949 39.036 17.3949C35.7325 17.3949 34.0778 19.5338 34.0778 23.7585V32.9759H27.2434V23.7585C27.2434 19.5338 25.5857 17.3949 22.2822 17.3949C19.2949 17.3949 17.8027 19.2029 17.8027 22.7481V39.5876H10.9298V22.237C10.9298 18.6918 11.835 15.8754 13.6453 13.7877C15.5128 11.7049 17.9623 10.6355 21.0028 10.6355C24.522 10.6355 27.1813 11.9885 28.9542 14.6917L30.665 17.5633L32.3788 14.6917C34.1517 11.9885 36.811 10.6355 40.3243 10.6355C43.3619 10.6355 45.8114 11.7049 47.6847 13.7877C49.4931 15.8734 50.3963 18.6899 50.3943 22.237Z"
                      fill="#222629"/>
              </svg>
            </a>
          </li>
        </ul>
      </nav>

      <div class="bottom__right footer-copyright">
        <span>Oleksii Volkov © <%= JSON.stringify(htmlWebpackPlugin.options.currentYear) %></span>
      </div>
    </div>
  </footer>
  <!-- /footer -->

</main>

</body>
</html>
